#root {
  margin: 0 auto;
  /* text-align: center; */
  width: 100%;
}

.shopping-web-container {
  min-height: 100vh;

  & .layout-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    background: #0f7278;
    color: white;

    .logo {
      color: white;
      font-size: 20px;
      font-weight: bold
    }

    .menu {
      flex: 1;
      min-width: 0;
      justify-content: center;
      background-color: #0f7278;

      .ant-menu-item {
        color: #fff;
        font-weight: 600;
      }

      .ant-menu-item:hover,
      .ant-menu-item-active,
      .ant-menu-item-selected {
        background-color: #49805b;
        color: #fff;
      }
    }

    .user-info {
      display: inline-flex;
      align-items: center;

      .login-text {
        padding: 10px;
      }

      .avatar {
        cursor: pointer;
        .user-name {
          padding: 5px;
        }
      }
    }
  }

  & .layout-body {
    padding: 20px;

    .teacher-container {

      .search-part {
        
      }
      .result-part {
        margin-top: 20px;
      }
    }
  }

  & .layout-footer {
    text-align: center;
  }
}